 table,th,td{
    border: 2px solid red;
    /* border-collapse: collapse; if this is used then border-radius can not be applicable  */
    border-radius: 5px;
}
th,td {
    padding: 20px 30px; /*cell padding*/
    text-align: center;
}

table{
    width: 100%;
}

.my-id{
    width: 10%;
}

.my-id{
    width: 60%;
}
